<div class="main-page">
  <h1>{{ appTitle }}</h1>

  <app-nice-list
    [color]="'1'"
    [titleOfList]="'List of fruits'"
    [listOfItems]="fruitList"
  ></app-nice-list>
  <app-nice-list
    [color]="'2'"
    [titleOfList]="'List of vegetables'"
    [listOfItems]="vegatableList"
  ></app-nice-list>
  <app-nice-list
    [color]="'3'"
    [titleOfList]="'List of people'"
    [listOfItems]="personList"
  ></app-nice-list>

  <hr />
  <input type="text" [(ngModel)]="name" placeholder="Enter your name here..."/>
  <hr />
  <button (click)="onButtonClicked()">{{buttonText}}</button>
</div>
