
.nice-list{
    width: 20rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.bg-color-1{
    background-color: rgb(144, 144, 186);
}

.bg-color-2{
    background-color: rgb(201, 177, 22);
}

.bg-color-3{
    background-color: rgb(173, 238, 151);
}
